      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
  
               <li class="nav-item" routerLinkActive="active" >
                <a routerLink="/Dashboard" class="nav-link">
                  <i class="nav-icon fas fa-calendar"></i>
                  <p>
                    Dashboard
                  </p>
                </a>
              </li>
          <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" routerLink="/CarSchedule">
              <i class="nav-icon fas fa-calendar"></i>
              <p>
                ตารางเดินรถ
              </p>
            </a>
          </li>

          <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" routerLink="/CarInfo">
              <i class="nav-icon fas fa-car"></i>
              <p>
                ข้อมูลรถยนต์
              </p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" routerLink="/CarRepair">
              <i class="nav-icon fas fa-wrench"></i>
              <p>
                บันทึกการซ่อมรถยนต์
              </p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" routerLink="/Driver">
              <i class="nav-icon fas fa-id-card"></i>
              <p>
                ข้อมูลคนขับ
              </p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" routerLink="/DriverRecord">
              <i class="nav-icon fas fa-id-card"></i>
              <p>
                บันทึกการขับรถ
              </p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" routerLink="/Report">
              <i class="nav-icon fas fa-id-card"></i>
              <p>
                รายงาน
              </p>
            </a>
          </li>


        </ul>
      </nav>
      <!-- /.sidebar-menu -->
